:root {
  --bg-first-color: #000000;
  --bg-second-color: #00111b;
  --fg-color: #ccc;
  --bd-color: #1a2227;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: radial-gradient(at 0 0, var(--bg-first-color), var(--bg-second-color));
  color: var(--fg-color);
  font-family: Jost;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: .5rem;
}

table {
  width: 100%;
  max-width: 1440px;
  table-layout: fixed;

  background-color: #1f1f1f1f;
  border-radius: 1.5rem;
  border: 2px solid var(--bd-color);

  font-size: 2rem;
}

table td {
  padding: 2rem;
  font-size: xx-large;
}

table td:nth-child(1) {
  width: 55%;
  font-size: 2.5rem;
  font-weight: bold;
}

table td:nth-child(2) {
  width: 35%;
}

table td:nth-child(4) {
  width: 10%;
}

table td > div {
  display: flex;
  flex-direction: column;
}

table td > div.credentials > span:last-child:not(:first-child) {
  font-size: 1.5rem;
}
